*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #1a202c;
  background: #e4f0f9;
  transition: color 0.2s ease-in;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Arial" !important;
  padding-bottom: 20px;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#app {
  height: 100vh;
  width: 100%;
}

main {
  background-color: #f7fafc;
  height: 100%;
  width: 100%;
  padding: 20px;
  transition: background-color 0.2s ease-in;
}

// dark mode
.dark-mode {
  color: white;
  background-color: #1c1c1c;
  transition: background-color 0.3s ease-in-out;

  .weather {
    color: #fff;
    background-color: #333;
  }

  .toggle {
    background-color: #ccc;

    .toggle-inner {
      background-color: #333;
    }

    .on,
    .off {
      color: #333;
    }
  }
  .daily-item {
    background: #333;

    .day,
    .min-max {
      color: #fff;
    }

    .description {
      color: #888;
    }
  }

  .daily-details-grid-item label:first-child {
    color: #888;
  }

  .daily-details-grid-item label:last-child {
    color: #fff;
  }

  .darkmode-icon-sun, .darkmode-icon-moon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(359deg) brightness(102%) contrast(105%);
  }
}
