*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #1a202c;
  background: linear-gradient(to right, #f2fbff, #99badf, #C1E3FF);
  transition: color 0.2s ease-in;
  font-family: "Segoe UI", "Roboto", "Arial" !important;
  padding-bottom: 20px;
  margin: 0;
  height: 100vh;
  width: 100%;
}
